{
  "extends": ["@afrigives/eslint-config", "plugin:import/typescript"],
  "settings": {
    "import/resolver": {
      "typescript": {},
      "node": {
        "extensions": [".js", ".jsx", ".ts", ".tsx"]
      },
      "alias": [
        ["@assets", "./assets"],
        ["@components", "./components"],
        ["@Themed", "./components/Themed.tsx"],
        ["@constants", "./constants"],
        ["@data", "./data"],
        ["@hooks", "./hooks"],
        ["@navigation", "./navigation"],
        ["@screens", "./screens"],
        ["@services", "./services"],
        ["@store", "./store"],
        ["@utils", "./utils"]
      ]
    }
  }
}
